.Hero-section_div {
  height: 100vh;
}
.Hero-section-parent-div {
  height: 100vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.Hero_container1 {
  background-color: transparent;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15px;
}
.Hero_container2 {
  background-color: transparent;
  width: 50%;
  height: 100vh;
}
.Hero_container1 h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  font-weight: 600;
  color: #991b1b;
}
.Hero_container1 p {
  padding-top: 40px;
  padding-bottom: 40px;
}
.Hero_container1 button {
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  background-color: #991b1b;
  border-radius: 10px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: large;
}
.Hero_container2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* media queries */

@media (max-width: 1024px) {
  .Hero_container1 h1 {
    font-size: x-large;
  }
  .Hero_container1 p {
    padding-top: 30px;
  }
}

@media (max-width: 834px) {
}

@media (max-width: 768px) {
  .Hero_container1 h1 {
    font-size: large;
  }
  .Hero_container1 p {
    font-size: small;
  }
  .Hero-section_div {
    height: auto;
  }
  .Hero-section-parent-div {
    height: auto;
  }
}

@media (max-width: 480px) {
  .Hero-section-parent-div {
    flex-wrap: wrap;
    gap: 0px;
    height: auto;
  }
  .Hero_container1 {
    width: 100%;
    height: auto;
  }
  .Hero_container2 {
    width: 100%;
    height: auto;
  }
  .Hero_container1 h1 {
    padding-top: 50px;
  }
  .Hero-section_div {
    height: auto;
  }
}
